<mat-expansion-panel class='newcontact'>
    <mat-expansion-panel-header>
      <mat-panel-title>
        New contact
      </mat-panel-title>
      <mat-panel-description>
        New contact Addition
      </mat-panel-description>
    </mat-expansion-panel-header>
  
    <p>Begins the form to add contacts.</p>
    <form #newcontactform='ngForm' (ngSubmit)='addContact()'>
    <div class="newcontactform">
        <mat-form-field>
          <input matInput placeholder="Contact Name" [(ngModel)]='newContact.name' 
          name='name' #name=ngModel required minlength=4>
          <mat-error *ngIf='name.errors?.required'>Name is required</mat-error>
          <mat-error *ngIf='name.errors?.minlength'>Name length is not proper</mat-error>

        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Phone" [(ngModel)] = 'newContact.phone' 
            name='phone' #phone=ngModel required>
            <mat-error *ngIf='phone.touched && phone.invalid'>Phone is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]= 'newContact.email' 
            name='email' #email=ngModel required>
            <mat-error *ngIf='email.touched && email.invalid'>Email is required</mat-error>

        </mat-form-field>
        <button mat-fab  color="primary" class='addbtn' type="submit" [disabled]='!newcontactform.form.valid'>Add</button>
      </div>
    </form>
      
  
  </mat-expansion-panel>

 <!-- <div *ngFor='let contact of contacts'>{{contact.name}} | {{contact.phone}}</div>-->
  <div *ngIf='contacts.length==0;else elseBlock'>
    <h2>No Contacts Available</h2>
  </div>
  <ng-template #elseBlock>
  <section class="contact-list">
    <mat-card class="contact-card" *ngFor='let c of contacts'>
      <mat-card-header>
       <!-- <div mat-card-avatar class="example-header-image"></div>-->
        <mat-card-title>{{c.name}}</mat-card-title>
        <mat-card-subtitle>Contact Detail</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/contact.png" alt="Contact Photo">
      <mat-card-content>
        <p>{{c.phone}}</p>
        <p>{{c.email}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>EDIT</button>
        <button mat-button class='delbtn' (click)='deleteContact()'>DELETE</button>
      </mat-card-actions>
    </mat-card>
    
  </section>
</ng-template>